.button {
	-fx-background-color: #212121;
	-fx-background-radius: 130px;
	-fx-opacity : 0;
}

.button: hover {
	-fx-transition: 1000;
	-fx-background-color: #212121;
	-fx-background-radius: 130px;
	-fx-opacity : 0.3;
}