
.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, #fcfcfc;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, #fcfcfc;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, #fcfcfc;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}

.text-area {
	-fx-border-color: #000;
	-fx-border-width: 0 0 1 0;
}

.text-field {
	-fx-background-color: transparent;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #212121;
	
}

.button {
	-fx-background-color:   #564B6F;
	-fx-border-radius: 0px;
	-fx-background-radius: 0px;
}

.button: hover {
	-fx-background-color:  	#98869E;
	-fx-border-radius: 0px;
	-fx-background-radius: 0px;

}